<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motivacao</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <%- include('../parts/page-header', {href_user_login: href_user_login, href_cadastro_logoff: href_cadastro_logoff, user_login: user_login, cadastro_logoff: cadastro_logoff}) %>
    <main>
        <h1>Videos motivacionais</h1>
        <section class="motivacional">
            <form action="/resultadomotivacao" method="post">
                <label for="tipo-video">Você deseja um video de motivação para:</label>
                <div>    
                    <select name="tipoV" id="tipoV">
                        <option value="Perna">Treino de Pernas</option>
                        <option value="Peito">Treino de Peito</option>
                        <option value="Costas">Treino de Costas</option>
                        <option value="Bracos">Treino de Bracos</option>
                        <option value="Ombros">Treino de Ombros</option>
                        <option value="Futebol">Futebol</option>
                        <option value="Basquete">Basquete</option>
                        <option value="Vida">Vida</option>
                    </select>

                    
                </div>
                <div class="btn-submit"><button type="submit">Gerar video de motivação!</button></div>
            </form>

            <div class="video"><iframe width="<%=width%>" height="<%=height%>" src="<%=src%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </section>
    </main>
    <div class="footer-small"><%- include('../parts/page-footer') %></div>
</body>
</html>